@charset "UTF-8";
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Black.otf") format("otf"), url("../fonts/Gotham-Black.ttf") format("truetype"), url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.woff2") format("woff2"); }
body {
  margin: 0;
  font-family: 'Lato', Arial, sans-serif; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.clearfix::after {
  content: '';
  display: table;
  width: 100%;
  clear: both; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  border-radius: 2px;
  border: 0px;
  color: #ffffff;
  background-color: #ffbb42;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase; }
  .button:hover {
    background-color: #ffdc42; }

.page-header {
  padding: 22px 0; }
  .page-header__logo {
    float: left; }
  .page-header__nav {
    float: right; }

.main-nav__list {
  margin: 0;
  padding: 0; }
.main-nav__item {
  position: relative;
  display: inline-block;
  list-style-type: none; }
.main-nav__url {
  padding: 10px 15px;
  color: #868686;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  border-radius: 3px; }
  .main-nav__url:hover {
    color: #ffffff;
    border-radius: 3px;
    background-color: #ffbb42; }

.page-main {
  margin: 0; }

.banner {
  padding-top: 100px;
  background-color: #709dca;
  color: #ffffff;
  text-align: center; }
  .banner__slogan {
    font-family: 'Gotham', Arial, sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase; }
  .banner__intro {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 30px; }

.feedback__list {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  position: relative; }
.feedback__form {
  line-height: 46px;
  border: none;
  border-radius: 2px;
  padding-left: 40px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  width: 240px; }

.feedback__icon-fullname::before {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  color: #6e6e6e;
  font-weight: 900;
  position: relative;
  right: 270px; }

.feedback__icon-email::before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  color: #6e6e6e;
  font-weight: 900;
  position: relative;
  right: 270px; }

.feedback__icon-phone::before {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  color: #6e6e6e;
  font-weight: 900;
  position: relative;
  right: 270px; }

.feedback__form:focus ~ .feedback__icon-fullname::before,
.feedback__form:focus ~ .feedback__icon-email::before,
.feedback__form:focus ~ .feedback__icon-phone::before {
  color: #1ca8dd; }

.feedback__button {
  padding: 14px 43px; }

.banner__wrapper {
  position: relative;
  top: 110px; }

.banner__wrapper > input {
  display: none; }

.slider__list {
  margin: 0;
  position: relative;
  background-image: url(../img/laptop.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 344px; }

.slider__item {
  list-style: none; }

.slider__imege {
  height: inherit;
  opacity: 0;
  position: absolute;
  top: 18px;
  left: calc(50% - 222px);
  width: inherit;
  z-index: 0;
  transform: scale(0.1);
  transition: transform ease-in-out 1.5s, opacity ease-in-out 1.5s; }

.slider__toggle {
  padding: 0;
  margin: 5px; }

.slider__toggles label:after {
  border: 2px solid #dedfe0;
  content: " ";
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%; }

.slide1:checked ~ .slider__toggles label:nth-of-type(1):after,
.slide2:checked ~ .slider__toggles label:nth-of-type(2):after,
.slide3:checked ~ .slider__toggles label:nth-of-type(3):after {
  border: 2px solid #1ca8dd; }

.slide1:checked ~ .slider__list > .slider__item > .slider1,
.slide2:checked ~ .slider__list > .slider__item > .slider2,
.slide3:checked ~ .slider__list > .slider__item > .slider3 {
  opacity: 1;
  z-index: 1;
  transform: scale(1); }

.service {
  padding-top: 180px; }
  .service__slogan {
    margin: 0;
    font-family: 'Gotham', Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #394b50;
    font-weight: 900;
    text-align: center; }
  .service__intro {
    margin: 0;
    margin-bottom: 80px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center; }
  .service__list {
    padding: 0; }
  .service__item {
    position: relative;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 130px);
    padding-left: 80px;
    margin: 0 50px 50px 0; }
  .service__title {
    color: #394b50;
    font-family: 'Lato', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700; }
  .service__description {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    color: #7b7b7b; }

.service__title::before {
  font-family: "Font Awesome 5 Free";
  color: #709dca;
  font-size: 44px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 900; }

.service__item:hover .service__title::before {
  color: #f6772c; }

.service__item:nth-child(1) .service__title::before {
  content: "\f017";
  font-weight: 400; }

.service__item:nth-child(2) .service__title::before {
  content: "\f013"; }

.service__item:nth-child(3) .service__title::before {
  content: "\f19d"; }

.service__item:nth-child(4) .service__title::before {
  content: "\f135"; }

.service__item:nth-child(5) .service__title::before {
  content: "\f18b";
  font-family: "Font Awesome 5 Brands"; }

.service__item:nth-child(6) .service__title::before {
  content: "\f155"; }

.info {
  background-color: #ffc155;
  background-image: url(../img/info.jpg);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: left top, right top;
  color: #ffffff; }
  .info__text {
    float: right;
    width: 505px;
    margin: 164px 0 174px 80px; }
  .info__title {
    font-family: 'Gotham', Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase; }
  .info__description {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    margin-top: 28px;
    margin-bottom: 50px; }
  .info__button {
    padding: 17px 32px;
    border: 1px solid #e7ad48; }

.tariff {
  background-color: #e7edf3;
  text-align: center;
  padding-top: 137px;
  padding-bottom: 137px; }
  .tariff__slogan {
    font-family: 'Gotham', Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #394b50; }
  .tariff__intro {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    color: #7b7b7b;
    margin: 0;
    margin-bottom: 80px; }

.tarif__cards > input {
  display: none; }

.tariff__list {
  padding: 0;
  font-family: 'Lato', Arial, sans-serif;
  text-transform: uppercase; }

.tariff__item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  width: 33%;
  border: 1px solid #ccd5df;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px; }

.tariff__title {
  font-size: 25px;
  color: #818b95;
  font-weight: 300;
  line-height: 90px; }

.tariff__buy {
  margin-bottom: 35px; }

.price {
  color: #ffbb42;
  font-size: 60px;
  font-weight: 700;
  line-height: 1; }
  .price::before {
    content: "$";
    font-size: 35px;
    position: relative;
    left: 0px;
    bottom: 26px; }

.tariff__term {
  font-size: 20px;
  color: #818b95;
  font-weight: 300;
  line-height: 1; }

.tariff__description-list {
  padding: 0 40px;
  color: #b5bbc1;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 55px; }

.tariff__description-item {
  list-style: none;
  border-top: 1px solid #ccd5df; }

.tariff__button {
  padding: 15px 20px;
  margin: 35px 0; }

.card1:checked ~ .tariff__list .tariff__item:nth-of-type(1),
.card2:checked ~ .tariff__list .tariff__item:nth-of-type(2),
.card3:checked ~ .tariff__list .tariff__item:nth-of-type(3) {
  background-color: #709dca;
  transform: scale(1, 1.1);
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s; }
  .card1:checked ~ .tariff__list .tariff__item:nth-of-type(1) .tariff__title, .card1:checked ~ .tariff__list .tariff__item:nth-of-type(1) .price, .card1:checked ~ .tariff__list .tariff__item:nth-of-type(1) .tariff__term, .card1:checked ~ .tariff__list .tariff__item:nth-of-type(1) .tariff__description-list,
  .card2:checked ~ .tariff__list .tariff__item:nth-of-type(2) .tariff__title,
  .card2:checked ~ .tariff__list .tariff__item:nth-of-type(2) .price,
  .card2:checked ~ .tariff__list .tariff__item:nth-of-type(2) .tariff__term,
  .card2:checked ~ .tariff__list .tariff__item:nth-of-type(2) .tariff__description-list,
  .card3:checked ~ .tariff__list .tariff__item:nth-of-type(3) .tariff__title,
  .card3:checked ~ .tariff__list .tariff__item:nth-of-type(3) .price,
  .card3:checked ~ .tariff__list .tariff__item:nth-of-type(3) .tariff__term,
  .card3:checked ~ .tariff__list .tariff__item:nth-of-type(3) .tariff__description-list {
    color: #ffffff; }

.method {
  padding-top: 137px;
  text-align: center; }
  .method__slogan {
    font-family: 'Gotham', Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #394b50; }
  .method__intro {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    color: #7b7b7b;
    margin: 0;
    margin-bottom: 80px; }

.method__list {
  padding: 0;
  position: relative; }

.method__item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding-top: 50px;
  position: relative; }

.method-imege {
  color: #709dca;
  font-size: 72px;
  margin-bottom: 80px; }

.method__item:nth-child(1) .method-imege::after,
.method__item:nth-child(3) .method-imege::after {
  content: "";
  background-image: url(../img/arowb.png);
  width: 190px;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: 0;
  height: 45px;
  background-size: 80% 80%;
  background-position-x: 112px; }

.method__item:nth-child(2) .method-imege::before,
.method__item:nth-child(4) .method-imege::before {
  content: "";
  background-image: url(../img/arowb.png);
  width: 190px;
  background-repeat: no-repeat;
  position: absolute;
  height: 45px;
  background-size: 80% 80%;
  top: 5px;
  left: 0px;
  background-position-x: -75px; }

.method__item:nth-child(2) .method-imege::after {
  content: "";
  background-image: url(../img/arowb.png);
  width: 190px;
  background-repeat: no-repeat;
  position: absolute;
  height: 45px;
  background-size: 80% 80%;
  top: 125px;
  right: 0px;
  background-position-x: -75px;
  transform: rotate(180deg); }

.method__item:nth-child(3) .method-imege::before {
  content: "";
  background-image: url(../img/arowb.png);
  width: 190px;
  background-repeat: no-repeat;
  position: absolute;
  height: 45px;
  background-size: 80% 80%;
  top: 125px;
  left: 0px;
  background-position-x: 112px;
  transform: rotate(180deg); }

.method__title {
  font-family: 'Lato', Arial, sans-serif;
  color: #394b50;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase; }

.method__description {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #7b7b7b;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  padding: 0 39px; }

.method__button {
  padding: 15px 20px;
  margin-top: 35px;
  margin-bottom: 140px; }

.reviews {
  background-color: #ffc155;
  padding: 137px 0; }
  .reviews__slogan {
    font-family: 'Gotham', Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 0; }
  .reviews__intro {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    margin-bottom: 60px; }
  .reviews__list {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 36px);
    background-color: #ffffff;
    margin: 0 36px 20px 0;
    border-radius: 3px; }

.reviews__item {
  margin: 40px 25px;
  position: relative; }

.reviews__author-picture {
  margin: 0;
  margin-right: 25px;
  float: left; }

.reviews__description {
  text-align: left;
  color: #7b7b7b;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px; }
  .reviews__description::before {
    content: "“";
    position: absolute;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    top: -22px;
    left: 126px; }
  .reviews__description::after {
    content: "„";
    position: absolute;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    bottom: 21px;
    right: 112px; }

.reviews__author-name {
  text-align: left;
  color: #f6772c;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase; }

.post {
  color: #99a9ae; }

.newsletter {
  padding-top: 137px;
  margin-bottom: 50px;
  text-align: center; }
  .newsletter__slogan {
    font-family: 'Gotham', Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #394b50; }
  .newsletter__intro {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    color: #7b7b7b;
    margin: 0;
    margin-bottom: 80px; }

.feedback__list--bottom {
  border: 1px solid #cbcbcb;
  border-radius: 2px; }

.map__image {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px 0 200px;
  border-bottom: 1px solid #e3e7ec; }

.map__address {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: #394b50;
  text-align: center;
  margin: 40px auto 25px; }
  .map__address::after {
    content: "";
    border: 10px solid transparent;
    border-top: 15px solid #394b50;
    position: relative;
    bottom: -100px; }

.map__slogan {
  display: block;
  margin-top: 65px;
  color: #ffffff;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase; }

.map__intro {
  color: #aeb7ba;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  width: 142px;
  margin: 0 auto; }

.map__intro--url {
  text-decoration: none;
  color: #ffbb42; }

.map__logo {
  display: block;
  text-align: center; }

.page-footer {
  text-align: center;
  padding-top: 68px; }

.social__phone {
  color: #394b50;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 46px; }

.social__list {
  padding: 0; }

.social__item {
  list-style: none; }

.social__link {
  text-decoration: none;
  color: #709dca;
  margin: 0px 5px;
  font-size: 18px;
  transition: ease-out 0.5s; }
  .social__link:hover {
    color: #ffc155; }

.copyright {
  background-color: #709dca;
  text-align: center;
  line-height: 48px;
  color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400; }
  .copyright__link {
    text-decoration: none;
    color: #ffffff; }

/*# sourceMappingURL=style.css.map */
